body{
    width: auto;
}

html{
    scroll-behavior: smooth;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}

.first{
    font-size: larger;
}

p::first-letter{
    font-size: 200%;
    color: red;
}

p{
    text-indent: 5%;
    /* text-align: center; */
    margin-bottom: 20px;
    margin-top: 0;
    width: 95%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1{
    text-align: center;
}


h2{
    margin-bottom: 0;
}

h3{
    margin-top: 0;
}

hr.rounded{
    border-top: 10px solid blue;
    border-radius: 5px;
}

.toTopPage{
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 40px;
    position: fixed;
    right: 8px;
    top: 50%
}

.toBottomPage{
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 40px;
    position: fixed;
    right: 8px;
    top: 57%
}


.iframe{
    text-align: center;
    margin: 100px 0 100px 0
}